<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Bar</title>
</head>
<body>
   <div class="header">
     <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
   </div>
    
</body>
</html>